/* src/App.css */
.menu-bar {
  background-color: yellow;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.dashboard-header,
.form-header,
.employee-list-header {
  background-color: yellow;
  font-weight: bold;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

button {
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
}
